<footer id="footer">
    <div class="copyright" style="text-align: center;width: 100%;">
        <p><i class="fa fa-copyright" aria-hidden="true"></i> 2011-2016 <b th:text="${siteconfig[name]}?:'xiexx博客'">@xiexx</b> | <a
                href="https://s.click.taobao.com/t?e=m%3D2%26s%3DLGiDitugtuccQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAuIOCJKbkcn2LEthPx640BHWgmEhRO7lRzhpJ9Y8migyuBOGKeIibuQhAHD5%2BZGXFOdn1BbglxZYxUhy8exlzcpAFEHVckI7b93srg%2FL%2FeD3keUEnoKELDlWYetMiZZgV%2BSx6OrKqagyklzFeKMz7Cd4Qek9OyREeQ%2BdciYQJaT7LNmFwzcjFAU%3D">网站由<b
                style="color:blue;">阿里云</b>托管</a></p>
        <p>Powered by <a href="http://git.oschina.net/mvc-easy/tech-blog-api"><b th:text="${siteconfig[name]}?:'xiexx博客'">xiexx-blog</b></a>. Theme by <a
                href="http://tangjie.me/jiestyle" title="JieStyle"
                                                       target="_blank"><b>JieStyle Two</b></a> <span th:if="${siteconfig[beian]!=null}" th:text="'|'+${siteconfig[beian]}"></span></p>
    </div>
</footer>
<script type="text/javascript" th:src="@{/themes/jiestyle/js/skel.min.js}"></script>
<script type="text/javascript" th:src="@{/themes/jiestyle/js/util.min.js}"></script>
<script type="text/javascript" th:src="@{/themes/jiestyle/js/nav.js}"></script>