<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link rel="shortcut icon" th:href="@{/themes/jiestyle/images/favicon.ico}" type="image/x-icon"/>
<link rel="stylesheet" th:href="@{/themes/jiestyle/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/themes/jiestyle/css/font-awesome.min.css}"/>
<link rel="stylesheet" th:href="@{/themes/jiestyle/css/editormd.preview.min.css}"/>
<script type="text/javascript" th:src="@{/themes/jiestyle/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/themes/jiestyle/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/themes/jiestyle/style.css}"/>
<link rel='dns-prefetch' href='//s.w.org'/>