<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="WmxiVUlEN1VpBS8vBCtjPS8oKQN5EVRlDS87YSMmBgIVByAzHQh/HA==">
    <title th:text="${blog.title}+'-'+${siteconfig.name}?:'xiexx博客'">标题</title>
    <meta name="description"
          th:content="${siteconfig.description}?:'xiexx博客'"/>
    <meta name="keywords" th:content="${siteconfig.keywords}?:'xiexx博客'"/>

    <div th:replace="ihead"></div>

</head>
<body>

<div th:replace="iheader"></div>

<section class="section">

    <script type="text/javascript" src="/public/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
    <link rel="stylesheet" href="/public/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css" type="text/css"/>
    <script>SyntaxHighlighter.all();</script>
    <div class="row">
        <div class="col-md-8 my-colmd-8">

            <!--面包屑-->
            <!--<ol class="breadcrumb my-breadcrumb">-->
                <!--<span class="glyphicon glyphicon-log-out"></span>-->
                <!--<li><a href="/"><strong>Home</strong></a></li>-->
                <!--<li><a href="/java.html">Java</a></li>-->
                <!--<li><a href="/java.html">Java</a></li>-->
            <!--</ol>-->

            <div class="box-con">
                <h2 class="box-title box-content" th:text="${blog.title}">标题</h2>


                <div class="box-twig twig-color">
                    <!--<span>作者: @xiexx</span>-->
                    <span class="date" th:text="${#dates.format(blog.publishTime,'yyyy/MM/dd')}">08th of August 2017</span>

                    <!--<span>微信公众号:Java技术</span>-->
                    <span>阅读数:<span th:text="${blog.views}"></span></span>
                    <span>分类: <a th:href="@{/iblog/icatalog/{catalog}(catalog=${blog.catalog})}" rel="category tag"
                                 th:text="${blog.catalogDisplay}">catalog</a></span>

                </div>
                <div class="box-excerpt box-minhet">
                    <div class="editormd-preview">
                        <div th:utext="${blog.display}" class="markdown-body editormd-preview-container" previewcontainer="true"
                             style="padding: 20px;font-size: 16px;line-height: 30px;">

                        </div>

                    </div>

                </div>

                <!--<h2 class="box-title box-content">-->
                    <!--查看linux中的TCP的各种连接数 </h2>-->

                <!--<div class="box-nextup">-->
                    <!--上一篇：-->
                    <!--<a href="/java-java-188.html" title="thymeleaf获取配置properties中的数据与thymeleaf国际化">thymeleaf获取配置properties中的数据与thymeleaf国际化</a>-->
                <!--</div>-->
                <!--<div class="box-nextup">-->
                    <!--下一篇：-->
                    <!--<span class="text-muted">没有了</span></div>-->
            </div>

        </div>

        <div class="col-md-4 my-colmd-4">
            <div class="box-con class-list">
                <dl>
                    <span class="glyphicon glyphicon-align-center"></span>&nbsp;Label
                </dl>
                <ul>
                    <!--<li><a href="/nginx.html" title="Nginx">Nginx</a></li>-->
                    <!--<li><a href="/apache.html" title="Apache">Apache</a></li>-->
                    <!--<li><a href="/svn.html" title="SVN">SVN</a></li>-->
                    <!--<li><a href="/git.html" title="GIT">GIT</a></li>-->
                    <!--<li><a href="/command.html" title="Command">Command</a></li>-->
                    <!--<li><a href="/memcached.html" title="Memcached">Memcached</a></li>-->
                    <!--<li><a href="/sphinx.html" title="Sphinx">Sphinx</a></li>-->
                    <!--<li><a href="/mysql.html" title="Mysql">Mysql</a></li>-->
                    <!--<li><a href="/redis.html" title="Redis">Redis</a></li>-->
                    <!--<li><a href="/mongodb.html" title="Mongodb">Mongodb</a></li>-->
                    <!--<li><a href="/thinkphp.html" title="Thinkphp">Thinkphp</a></li>-->
                    <!--<li><a href="/yii2.html" title="Yii2">Yii2</a></li>-->
                    <!--<li><a href="/phpcode.html" title="PHPcode">PHPcode</a></li>-->
                    <!--<li><a href="/jquery.html" title="Jquery">Jquery</a></li>-->
                    <!--<li><a href="/js.html" title="JS">JS</a></li>-->
                    <!--<li><a href="/css.html" title="Css">Css</a></li>-->
                    <!--<li><a href="/bootstrap.html" title="Bootstrap">Bootstrap</a></li>-->
                    <!--<li><a href="/html5.html" title="Html5">Html5</a></li>-->
                    <!--<li><a href="/courserecord.html" title="CourseRecord">CourseRecord</a></li>-->
                    <!--<li><a href="/swift%2Bios.html" title="Swift+IOS">Swift+IOS</a></li>-->
                    <!--<li><a href="/java.html" title="Java">Java</a></li>-->
                </ul>
            </div>
            <div class="box-con hot-list">
                <dl>
                    <span class="glyphicon glyphicon-list"></span>&nbsp;Hot
                </dl>
                <ul>
                    <!--<li><span class="glyphicon glyphicon-unchecked"></span><a href="/php-yii2-141.html"-->
                                                                              <!--title="Yii2使用composer安装MongoDB扩展">Yii2使用composer安装MongoDB扩展</a>-->
                    <!--</li>-->
                    <!--<li><span class="glyphicon glyphicon-unchecked"></span><a href="/swift-swift%2Bios-148.html"-->
                                                                              <!--title="Swift3.0设置状态栏的背景颜色与文字颜色">Swift3.0设置状态栏的背景颜色与文字..</a>-->
                    <!--</li>-->
                    <!--<li><span class="glyphicon glyphicon-unchecked"></span><a href="/php-yii2-143.html"-->
                                                                              <!--title="Yii2中MongoDB的使用方法-CURD">Yii2中MongoDB的使用方法-CURD</a>-->
                    <!--</li>-->
                    <!--<li><span class="glyphicon glyphicon-unchecked"></span><a href="/swift-swift%2Bios-147.html"-->
                                                                              <!--title="swift3.0设置导航栏,标题,字体,item颜色和字体大小">swift3.0设置导航栏,标题,字体,item..</a>-->
                    <!--</li>-->
                    <!--<li><span class="glyphicon glyphicon-unchecked"></span><a href="/style-html5-31.html"-->
                                                                              <!--title="Html5中progress标签用法">Html5中progress标签用法</a>-->
                    <!--</li>-->
                    <!--<li><span class="glyphicon glyphicon-unchecked"></span><a href="/php-phpcode-33.html"-->
                                                                              <!--title="php中curl用法初步讲解">php中curl用法初步讲解</a>-->
                    <!--</li>-->
                    <!--<li><span class="glyphicon glyphicon-unchecked"></span><a href="/php-phpcode-39.html"-->
                                                                              <!--title="PHP中Orientation判断上传图片是否需要旋转">PHP中Orientation判断上传图片是否需..</a>-->
                    <!--</li>-->
                    <!--<li><span class="glyphicon glyphicon-unchecked"></span><a href="/database-mysql-26.html"-->
                                                                              <!--title="Mysql的source命令导入大的sql文件方法">Mysql的source命令导入大的sql文件方..</a>-->
                    <!--</li>-->
                    <!--<li><span class="glyphicon glyphicon-unchecked"></span><a href="/linux-nginx-37.html"-->
                                                                              <!--title="Nginx反向代理基本设置的21个指令">Nginx反向代理基本设置的21个指令</a>-->
                    <!--</li>-->
                    <!--<li><span class="glyphicon glyphicon-unchecked"></span><a href="/linux-command-29.html"-->
                                                                              <!--title="Linux中tar压缩命令详解">Linux中tar压缩命令详解</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>

    </div>
</section>

<div th:replace="ifooter"></div>

</body>
</html>
